/* ---STYLES FOR INDEX.HTML--- */

:root {
  --text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --primary-bcg-color: #ffffff;
  --secondary-bcg-color: #2f303a;
  --add-bcg-color: #f5f4fa;
  --text-font: 'Roboto', sans-serif;
  --accent-font: 'Raleway', sans-serif;
  --grid-gap: 30px;
  --grid-item: 2;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--text-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
  background-color: var(--primary-bcg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* ---COMPONENTS--- */
.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-color);
}
/* ---END COMPONENTS--- */

/* ---HEADER---*/
.header {
  border-bottom: 1px solid #ececec;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.logo {
  font-family: var(--accent-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo-part-dark {
  color: #000000;
}

.header .container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: inline-flex;
  align-items: center;
}

.contacts-header-list {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
}

.nav .logo {
  margin-right: 93px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-color);
}

.contacts-header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-item:not(:last-child),
.contacts-header-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link:hover,
.nav-link:focus,
.contacts-header-link:hover,
.contacts-header-link:focus,
.nav-link.current {
  color: var(--accent-color);
}
/* ---END HEADER--- */

/* ---HERO--- */
.hero {
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--secondary-bcg-color);
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to right, rgba(48, 49, 59, 0.4), rgba(48, 49, 59, 0.4)),
    url('../images/hero-bg.jpg');
}

.hero-title {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-bcg-color);
}

.hero-btn {
  min-width: 200px;
  padding: 10px 31px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--primary-bcg-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.hero-btn:focus,
.hero-btn:hover {
  background-color: #188ce8;
  outline: none;
}
/* ---END HERO--- */

/* ---FEATURE--- */
.feature-list {
  display: flex;
  margin-left: calc(-1 * var(--grid-gap));
  margin-top: calc(-1 * var(--grid-gap));
}

.feature-list-item {
  flex-basis: calc((100% - var(--grid-item) * var(--grid-gap)) / var(--grid-item));
  --grid-item: 4;
  margin-left: var(--grid-gap);
  margin-top: var(--grid-gap);
}

.feature-list-item::before {
  content: '';
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--add-bcg-color);
  background-position: center;
  background-repeat: no-repeat;
}

.icon-antenna::before {
  background-image: url('../images/icons/antenna.svg');
}

.icon-clock::before {
  background-image: url('../images/icons/clock.svg');
}

.icon-diagram::before {
  background-image: url('../images/icons/diagram.svg');
}

.icon-astronaut::before {
  background-image: url('../images/icons/astronaut.svg');
}

.feature-item-title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
}
/* ---END FEATURE--- */

/* ---SERVICES--- */

.services.section {
  padding-top: 0;
}

.services-list {
  display: flex;
  margin-left: calc(-1 * var(--grid-gap));
  margin-top: calc(-1 * var(--grid-gap));
}

.services-list-item {
  flex-basis: calc((100% - var(--grid-item) * var(--grid-gap)) / var(--grid-item));
  --grid-item: 3;
  margin-left: var(--grid-gap);
  margin-top: var(--grid-gap);
}
/* ---END SERVICES--- */

/* ---TEAM--- */

.team.section {
  background: var(--add-bcg-color);
}

.team-list {
  display: flex;
  margin-left: calc(-1 * var(--grid-gap));
  margin-top: calc(-1 * var(--grid-gap));
}

.team-list-item {
  flex-basis: calc((100% - var(--grid-item) * var(--grid-gap)) / var(--grid-item));
  --grid-item: 4;
  margin-left: var(--grid-gap);
  margin-top: var(--grid-gap);

  text-align: center;
}

.team-list-item-content {
  padding: 30px 30px;
}

.team-item-name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-color);
}

.team-item-position {
  font-size: 16px;
  line-height: 1.19;
}
/* ---END TEAM--- */

/* ---FOOTER--- */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bcg-color);
}

.footer-content {
  margin-top: 20px;
}

.logo-part-light {
  color: var(--primary-bcg-color);
}

.adress {
  margin-bottom: 9px;

  font-style: normal;
  color: var(--primary-bcg-color);
}

.contacts-footer-item:first-child {
  margin-bottom: 9px;
}

.contacts-footer-link {
  color: rgba(255, 255, 255, 0.6);
}
/* ---END FOOTER--- */

/* ---STYLES FOR PORTFOLIO.HTML--- */
/* ---PROJECT SET--- */
.project-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.project-filter-item:not(:last-child) {
  margin-right: 8px;
}

.project-btn {
  min-width: 73px;
  padding: 6px 21px;
  border: none;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: var(--title-color);
  background-color: var(--add-bcg-color);
  cursor: pointer;
}

.project-btn:hover,
.project-btn:focus {
  color: var(--primary-bcg-color);
  background-color: var(--accent-color);
  outline: none;
}

.project-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--grid-gap));
  margin-top: calc(-1 * var(--grid-gap));
}

.project-set-item {
  flex-basis: calc((100% - var(--grid-item) * var(--grid-gap)) / var(--grid-item));
  --grid-item: 3;
  margin-left: var(--grid-gap);
  margin-top: var(--grid-gap);
}

.project-set-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.project-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}

.project-direction {
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-color);
}

.footer-content {
  min-width: 230px;
}
/* ---END PROJECT SET--- */
